#title,#subtitle{
  color:#BB371A;
  color:#FFF8D9;
  text-align:center;
  font-family:'Calibri Light',sans-serif;
}
#title{
  font-size:45px;
  margin-bottom:-10px;
}
#subtitle{
  padding-right:120px;
  padding-left:120px;
  font-size:16px;
}

#header-block{
  margin-top:30px;
  background-color:rgba(187, 55, 26, .8);
  
  
}
body{
  background-color:#F0F2B6;
  font-family:'Calibri Light',sans-serif;
  color:#224B0C;
  margin-right:100px;
  margin-left:100px;
}
hr.dashed{
 border-top: 1px dashed;
 border-bottom: none;

}

#image{
  max-width:100%;
  height:auto; 
  margin:0 auto;
  width:280px; 
  border-radius:5px;
}
img{
  display:block;
}
figcaption{
  font-size:12px;
  text-align:center;
  color:black;
}

#img-div{
  margin:5px 140px;
}
#results-text{
  margin-bottom:-8px;
  
}
#point1,#point2,#point3,#point4{
  margin-bottom:5px;
}

#quote{
  background-color:#C1D5A4 ;
  color:#224B0C;
  font-size:20px;
  max-width:100%;
  height:auto; 
  margin:0 auto;
  width:480px; 
  border-radius:20px;
  padding:14px;
}


#logo-image{
  display: block;
  margin: 0 auto;
  padding:5px 26px 5px 26px;
  height:40px;
  width:100px;
  aspect-ratio: 35 / 4;
  background-color: #ffffff;
  border-radius:30px;
}
#logo{
  padding-top:6px;
}
#more-info{
  text-align:center;
  font-size:12px;
  border-radius:50px; 
  padding-top:20px;
}




